@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.boxHeader{
    .boxTitulo{
        font-family: "Orbitron", sans-serif;
        font-weight: lighter;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    background-color: #0D0D0D;
    .boxMenu{
        width: 40vw;
        height: 8vh;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
        }
    }
    .boxImagem{
        background-color: #FF6400;
        border-radius: 10px;
        width: 15vw;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

